# IDE config
.idea/
.vscode/

# Dependency directories
node_modules/

# Packaging
dist/

# Reporting and coverage
reports/
coverage

# Logs
logs
*.log
npm-debug.log*

# Grunt
.grunt

# Misc
package-lock.json
.DS_Store
Thumbs.db
Desktop.ini
